<h1>Tottori OpenData PM2.5 API Server</h1>


<p>API:</p>

<pre>
GET /today.json
</pre>

<pre>
GET /%Y%m%d.json
</pre>

<p>Example:</p>

<ul>
  <li><%= link_to url_for(controller:'records', action:'show', date:'todaty'), controller:'records', action:'show', date:'today' %></li>
<% Record.order('date DESC').select(:date).each do |record| %>
  <li><%= link_to url_for(controller:'records', action:'show', date:record.date.strftime('%Y%m%d')), controller:'records', action:'show', date:record.date.strftime('%Y%m%d') %></li>
<% end %>
</ul>

<p>Source code: The source code is available at <%= link_to 'GitHub', 'https://github.com/code4tottori/tottori-opendata-pm25-server' %></p>

<p>License: This API gets data which is the concentration of PM2.5 (fine particulate matter) in the atmosphere in Tottori Prefecture, Japan from <%= link_to 'http://tottori-taiki.users.tori-info.co.jp/taiki/pc/graph/', 'http://tottori-taiki.users.tori-info.co.jp/taiki/pc/graph/' %> as Open Data licensed <%= link_to  'CC-BY', 'https://creativecommons.org/licenses/by/2.1/jp/' %>.</p>
