<h1>Tottori Open Data PM2.5 API Server</h1>

<% last_updated_at = Record.last_updated_at %>
<p>
  <strong>Last Updated at:</strong>
  <span><%= last_updated_at&.in_time_zone('Asia/Tokyo') %></span>
  <span>(<%= last_updated_at&.utc %>)</span>
</p>

<p>
  <strong>Chart:</strong>
</p>

<div id="chart"></div>

<p>
  <strong>Example:</strong>
</p>

<ul>
  <li><%= link_to url_for(controller:'records', action:'graph'), controller:'records', action:'graph' %></li>
  <li><%= link_to url_for(controller:'records', action:'show', date:'todaty'), controller:'records', action:'show', date:'today' %></li>
  <% Record.order('date DESC').select(:date).each do |record| %>
  <li><%= link_to url_for(controller:'records', action:'show', date:record.date.strftime('%Y%m%d')), controller:'records', action:'show', date:record.date.strftime('%Y%m%d') %></li>
  <% end %>
</ul>

<p>
  <strong>API:</strong>
</p>

<pre>
GET /graph.json
</pre>

<pre>
GET /today.json
</pre>

<pre>
GET /%Y%m%d.json
</pre>

<p>
  <strong>Source code:</strong>
  <span>The source code is available at</span>
  <span><%= link_to 'GitHub', 'https://github.com/code4tottori/tottori-opendata-pm25-server' %></span>
</p>

<p>
  <strong>License:</strong>
  <span>This API gets data which is the concentration of PM2.5 (fine particulate matter) in the atmosphere in Tottori Prefecture, Japan from</span>
  <span><%= link_to 'http://tottori-taiki.users.tori-info.co.jp/taiki/pc/graph/', 'http://tottori-taiki.users.tori-info.co.jp/taiki/pc/graph/' %></span>
  <span>as Open Data licensed</span>
  <span><%= link_to  'CC-BY', 'https://creativecommons.org/licenses/by/2.1/jp/' %>.</span>
</p>
